.allstuff {
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	width: 900px;
	margin: 10px auto;
	margin-top: 10px;
}

#bg {
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%;
}

#content {
	position:relative; 
	z-index:1;
}

.textbg {
	background:rgba(255, 105, 16, 1);/*rgba(255,255,255,0.5);*/
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	padding:5px 10px 5px 10px;
	text-align:justify;
	color:#FFF;
}

/*.textbg a.btn {
	color: #e7e5e5;
	text-decoration: none;
	padding:  8px 20px;
	background: #7d7d7d;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
.textbg a:hover {
	background: #7d7d7d;
	color: #7d7d;
}*/

a {
	color:#FFF;
}

/*All the Input box stuff on contact us page*/
.inputglow {
    border: 2px solid #7d7d7d;
    border-radius: 7px;
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.inputglow:focus { 
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc;
}